<div class="container">
  <h1 class="text-center">CADASTRAR USUÁRIO</h1>
  <form action="/cadastrar" method="post">
    <div class="row">
      <div class="col-5 mb-3">
        <label for="txtNome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="txtNome" name="txtNome" />
      </div>
      <div class="col-6 mb-3">
        <label for="txtSenha" class="form-label">Cargo</label>
        <input
          type="text"
          class="form-control"
          id="txtCargo"
          name="txtCargo"
        />
      </div>
      <div class="col-6 mb-3">
        <label for="txtEmail" class="form-label">E-mail</label>
        <input
          type="email"
          class="form-control"
          id="txtEmail"
          name="txtEmail"
        />
      </div>

      <div class="col-6 mb-3">
        <label for="txtSenha" class="form-label">Senha</label>
        <input
          type="password"
          class="form-control"
          id="txtSenha"
          name="txtSenha"
        />
      </div>

      <button type="submit" class="btn btn-primary">CADASTRAR</button>
    </div>
  </form></div>